<table class="table table-striped"  >
  <thead>
  <tr>
      <th style="width: 20%">
           Name 
      </th>
      <th style="width: 20%">
          Email 
      </th>
      <th style="width: 10%">
        phone
      </th>
      <th style="width: 20%">
         City 
      </th>
      <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of Employeelist">
      <td>{{item.empID}}</td>
      <td>{{item.empName}}</td>
      <td>{{item.departMentID}}</td>
      <td>{{item.address | uppercase}}</td>
      <td>  <a c  routerLink="/employee/{{item.empID}}">
                <span data-feather="file"></span>
                emloyee edit
              </a>  &nbsp;&nbsp;<a  (click)="delete($event, item.empID);">
                <span data-feather="file"></span>
                delete
              </a></td>
  </tr>
  </tbody>
   
</table>
